* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .heart {
    background: #dcd4e9;
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    position: relative;
    animation: pulse 1s ease infinite;
  }
  
  .heart:before,
  .heart:after {
    content: "";
    background: #dcd4e9;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
  }
  
  .heart:before {
    bottom: 50px;
  }
  
  .heart:after {
    right: 50px;
  }
  
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  h1 {
    margin-bottom: 80px;
    text-align: center;
    color: #2f3c47;
    z-index: 1;
  }
  
  p {
    margin-top: 80px;
    color: #2f3c47;
    text-shadow: 2px 2px 4px #f7eebd;
  }
  
  .details {
    background: #f7eebd;
    height: 24px;
    width: 360px;
    position: relative;
    top: -100px;
  }
  
  @keyframes pulse {
    0% { transform: rotate(45deg) scale(0.95);}
    50% { transform: rotate(45deg) scale(1); }
    100% { transform: rotate(45deg) scale(0.95);}
  }
  